__pycache__/
*.py[cod]
.env
/venv/**
*.html
# SQLite database files

*.sqlite3

/static/**
!/static/**/.gitkeep

/migrations/**
!/migrations/**/.gitkeep

/emails/**
!/emails/**/.gitkeep


/templates/**
!/templates/**/.gitkeep

templates/**

!/templates/**/.gitkeep./tumidpandora_school_rewards/templates/upgrade_payment_confirm.html
./tumidpandora_school_rewards/templates/new_reply_to_task.html
./tumidpandora_school_rewards/templates/new_claim_to_task.html
./tumidpandora_school_rewards/templates/my_school.html
./tumidpandora_school_rewards/templates/delete_reply.html
./tumidpandora_school_rewards/templates/my_account.html
./tumidpandora_school_rewards/templates/contact_us.html
./tumidpandora_school_rewards/templates/press.html
./tumidpandora_school_rewards/templates/home.html
./tumidpandora_school_rewards/templates/task_replies.html
./tumidpandora_school_rewards/templates/tasks.html
./tumidpandora_school_rewards/templates/base.html
./tumidpandora_school_rewards/templates/password_reset_done.html
./tumidpandora_school_rewards/templates/edit_reply.html
./tumidpandora_school_rewards/templates/pricing.html
./tumidpandora_school_rewards/templates/delete_claim.html
./tumidpandora_school_rewards/templates/emails/new_claim_email.html
./tumidpandora_school_rewards/templates/emails/includes/email_footer.html
./tumidpandora_school_rewards/templates/emails/includes/email_header.html
./tumidpandora_school_rewards/templates/emails/includes/email_base.html
./tumidpandora_school_rewards/templates/emails/new_task_email.html
./tumidpandora_school_rewards/templates/emails/new_teacher_signup.html
./tumidpandora_school_rewards/templates/emails/new_parent_signup.html
./tumidpandora_school_rewards/templates/emails/new_contact_email.html
./tumidpandora_school_rewards/templates/emails/new_school_request.html
./tumidpandora_school_rewards/templates/pub_base.html
./tumidpandora_school_rewards/templates/activate_user.html
./tumidpandora_school_rewards/templates/includes/form.html
./tumidpandora_school_rewards/templates/includes/pagination.html
./tumidpandora_school_rewards/templates/includes/messages.html
./tumidpandora_school_rewards/templates/includes/main.html
./tumidpandora_school_rewards/templates/includes/head.html
./tumidpandora_school_rewards/templates/includes/footer.html
./tumidpandora_school_rewards/templates/includes/header.html
./tumidpandora_school_rewards/templates/404.html
./tumidpandora_school_rewards/templates/password_reset.html
./tumidpandora_school_rewards/templates/new_payment_to_task.html
./tumidpandora_school_rewards/templates/login.html
./tumidpandora_school_rewards/templates/approve_claim.html
./tumidpandora_school_rewards/templates/edit_claim.html
./tumidpandora_school_rewards/templates/new_school.html
./tumidpandora_school_rewards/templates/password_reset_email.html
./tumidpandora_school_rewards/templates/new_task.html
./tumidpandora_school_rewards/templates/upgrade_account.html
./tumidpandora_school_rewards/templates/password_reset_confirm.html
./tumidpandora_school_rewards/templates/delete_task.html
./tumidpandora_school_rewards/templates/deactivate_user.html
./tumidpandora_school_rewards/templates/edit_task.html
./tumidpandora_school_rewards/templates/reply_to_post.html
./tumidpandora_school_rewards/templates/remove_user.html
./tumidpandora_school_rewards/templates/about_us.html
./tumidpandora_school_rewards/templates/password_reset_complete.html
./tumidpandora_school_rewards/templates/password_change_done.html
./tumidpandora_school_rewards/templates/password_change.html
./tumidpandora_school_rewards/templates/signup.html
./tumidpandora_school_rewards/templates/privacy.html
