.navbar-brand {
/*font-family: 'Pacifico', cursive;*/

font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;font-size:12px;

}
/*
#chart_left, #chart_middle, #chart_right {

min-width: 105px; height: 200px; max-width: 210px;
margin: 0 auto;
}
*/
