{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <span class="alert-inner--icon">
        <i class="fa fa-star"></i>
    </span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>

  <script type="text/javascript">
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove();
                });
            }, 2000);
  </script>

{% endfor %}