{% extends 'pub_base.html' %}

{% load static %}

{% block main %}

  <main>
    <div class="position-relative"></div>

    <section class="section section-lg section-shaped">
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <!--<span></span>-->
        <span></span>
      </div>
      <div class="container pb-150 py-md">
        <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="card bg-secondary shadow-lg border-0">
                <div class="card-header bg-gradient-primary pb-0">
                    <div class="mb-md-1 text-white display-4 font-weight-light">
                        <img class="avatar avatar-lg mr-2" src="{% static '/assets/img/brand/players/bunny1_jump.png' %}">
                        <strong>Oops, something went wrong!</strong>
                    </div>
                </div>
              <!--<div class="card-body px-lg-5 py-lg-5">-->
                <div class="card-body">

                    <p class="lead"><strong>Looks like our little worker bunnies broke something, again!</strong>


                        <a class="btn btn-primary btn-sm" href="{% url 'home' %}">
                            <i class="fa fa-arrow-circle-right"></i>
                            Go Home
                        </a>

                    </p>
            </div>

            <div class="card-footer">
              <div class="row">
                <div class="col-lg-3">
                  <a href="{% url 'parent_signup' %}" class="btn btn-outline-info btn-md btn-block  my-1">
                    <i class="fa fa-plus-circle"></i>
                    PARENTS SIGNUP
                  </a>
                </div>
                <div class="col-lg-3">
                <a href="{% url 'teacher_signup' %}" class="btn btn-outline-warning btn-md  btn-block my-1">
                  <i class="fa fa-plus-circle"></i>
                  TEACHERS SIGNUP
                </a>
                </div>
                <div class="col-lg-3">
                <a href="{% url 'new_school' %}" class="btn btn-outline-default btn-md btn-block  my-1">
                    <i class="fa fa-plus-circle"></i>
                    REGISTER YOUR SCHOOL
                </a>
                </div>
                <div class="col-lg-3">
                <a href="{% url 'pricing' %}" class="btn btn-outline-white btn-md btn-block my-1 active">
                  <i class="fa fa-question-circle"></i>
                  PREMIUM FEATURES
                </a>
                </div>
              </div>

            </div>
        </div>
    </div>
</div>
</div>
       <!--SVG separator-->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>

    </section>
</main>

{% endblock %}