{% extends 'base.html' %}

{% block title %}Delete Task{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb bg-light my-2">
    <li class="breadcrumb-item"><a href="{% url 'tasks' %}">Tasks</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'task_replies' task.pk %}">{{ task.name }}</a></li>
    <li class="breadcrumb-item active">Delete task</li>
</ol>
{% endblock %}

{% block deletetask %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
      <p class="lead">Are you sure you would like to <strong>delete</strong> this task ?</p>
    <button type="submit" class="btn btn-danger btn-sm">Yes, Delete</button>
    <a href="{% url 'tasks' %}" class="btn btn-outline-secondary btn-sm" role="button">Cancel</a>
  </form>
{% endblock %}