{% extends 'base.html' %}

{% block title %}Edit Task{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb bg-light my-2">
    <li class="breadcrumb-item"><a href="{% url 'tasks' %}">Tasks</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'task_replies' task.pk %}">{{ task.name }}</a></li>
    <li class="breadcrumb-item active">Edit task</li>
</ol>
{% endblock %}

{% block edittask %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'task_replies' task.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}