{% extends 'base.html' %}

{% block title %}Edit Claim{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'tasks' %}">Tasks</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'task_replies' claim.task.pk %}">{{ claim.task.name }}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'task_replies' claim.task.pk %}">{{ claim.message }}</a></li>
    <li class="breadcrumb-item active">Edit claim</li>
{% endblock %}

{% block editreply %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success btn-sm">Save changes</button>
    <a href="{% url 'task_replies' claim.task.pk %}" class="btn btn-outline-secondary btn-sm" role="button">Cancel</a>
  </form>
{% endblock %}