{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School Rewards</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
</head>
<body>
    <div class="container">
        <div class="jumbotron bg-light">
            <h1 class="display-4">School Rewards</h1>
            <p class="lead">School rewards is a simple task-reward based fund raising program, popular among parents and teachers across many schools all over the country.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
            <a class="btn btn-secondary btn-lg" href="{% url 'signup' %}" role="button">Signup</a>
            <a class="btn btn-info btn-lg" href="{% url 'tasks' %}" role="button">Dashboard</a>
        </div>
    </div>
</body>
</html>