{% extends 'pub_base.html' %}

{% load static %}

{% block main %}

  <main>
    <div class="position-relative"></div>

    <section class="section section-lg section-shaped">
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <!--<span></span>-->
        <span></span>
      </div>

      <div class="container pt-sm">

        <!--<div class="alert bg-gradient-indigo alert-dismissible fade show text-uppercase" role="alert">-->
          <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
          <!--</button>-->
            <!--<strong>[Update]</strong> Task-a-Thon<sup>&copy</sup> beta release is scheduled for 01-JAN-2019!-->
        <!--</div>-->

        <div class="row justify-content-between align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <span class="display-3 text-white font-weight-light ">
              <strong>Task-a-Thon<sup>&copy;</sup> Fundraiser</strong>
            </span>
            <p class="text-uppercase text-info mt-4 text-monospace">
                <!--<strong>Built for Parents, Teachers and Schools.</strong>-->
              <strong> Simple Fundraising solution for schools</strong>
            </p>
              <p class="text-white text-monospace"><strong>
                The lack of funds is one of the <u>biggest stresses</u> for schools!

                Task-a-Thon</strong><sup>&copy;</sup> empowers parents to support classroom development by
                creating tasks and paying $ rewards upon completion, enabling schools to <kbd> fundraise all year round. </kbd></p>

            <a href="{% url 'new_school' %}" class="btn btn-icon btn-outline-white mt-5 shadow-lg">
              <span class="btn-inner--icon">
                <img class="bg-transparent" src="{% static '/assets/img/brand/carrot.png' %}">
              </span>
                <span class="btn-inner--text">
                FIND MY SCHOOL
                </span>
            </a>

            <a href="{% url 'login' %}" class="btn btn-icon btn-outline-white mt-5 shadow-lg">
              <span class="btn-inner--icon">
                  <!--<i class="fa fa-sign-in mr-2"></i>-->
                  <img class="bg-transparent" src="{% static '/assets/img/brand/keyGreen.png' %}">
              </span>
              <span class="nav-link-inner--text">
                LOG IN
              </span>
            </a>


          </div>
          <div class="col-lg-6 mb-lg-auto">
            <div class="rounded shadow-lg overflow-hidden">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="4" class=""></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="5" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="6" class=""></li>

          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{% static 'assets/img/brand/slides/slide1.png' %}" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <!--<h5 class="text-dark bg-yellow rounded shadow">Tasks Dashboard</h5>-->
                  <small class="text-white bg-success rounded shadow">
                    &nbsp; <b>1.</b> Manage all the <u>tasks</u> and <u>earnings</u> for your school in one place using the Tasks Dashboard.&nbsp;
                  </small>
                </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'assets/img/brand/slides/slide2.png' %}" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                  <!--<h5 class="text-dark bg-yellow rounded shadow">Tasks Dashboard</h5>-->
                  <small class="text-white bg-success rounded shadow">
                    &nbsp; &nbsp;  <b>2.</b> Create a <u>new task</u>, add a reward, success criteria and assign it to one or more grades.&nbsp;
                  </small>
                </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'assets/img/brand/slides/slide3.png' %}" alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                  <!--<h5 class="text-dark bg-yellow rounded shadow">Tasks Dashboard</h5>-->
                  <small class="text-white bg-success rounded shadow">
                    &nbsp; &nbsp;  <b>3.</b> This screen shows <u>details on a task</u> including <u>reward claims</u> and <u>discussions</u>.&nbsp;
                  </small>
                </div>
            </div>
			<div class="carousel-item">
              <img class="d-block w-100" src="{% static 'assets/img/brand/slides/slide4.png' %}" alt="Fourth slide">
                <div class="carousel-caption d-none d-md-block">
                  <!--<h5 class="text-dark bg-yellow rounded shadow">Tasks Dashboard</h5>-->
                  <small class="text-white bg-success rounded shadow">
                    &nbsp;  <b>4.</b> Parents can <u>approve the reward</u> once the task is marked as complete.
                  </small>
                </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'assets/img/brand/slides/slide5.png' %}" alt="Fifth slide">
                <div class="carousel-caption d-none d-md-block">
                  <!--<h5 class="text-dark bg-yellow rounded shadow">Tasks Dashboard</h5>-->
                  <small class="text-white bg-success rounded shadow">
                    &nbsp; &nbsp;<b>5.</b> Parents can <u>approve</u> or <u>request more details</u> once the task is marked as complete.&nbsp;
                  </small>
                </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'assets/img/brand/slides/slide6.png' %}" alt="Sixth slide">
                <div class="carousel-caption d-none d-md-block">
                  <!--<h5 class="text-dark bg-yellow rounded shadow">Tasks Dashboard</h5>-->
                  <small class="text-white bg-success rounded shadow">
                    &nbsp; &nbsp;<b>6.</b> Once the reward is approved, it's time to <u>pay the reward</u> to your school.&nbsp;
                  </small>
                </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'assets/img/brand/slides/slide7.png' %}" alt="Seventh slide">
                <div class="carousel-caption d-none d-md-block">
                  <!--<h5 class="text-dark bg-yellow rounded shadow">Tasks Dashboard</h5>-->
                  <small class="text-white bg-success rounded shadow">
                    &nbsp; School Admins can <u>activate</u> / <u>deactivate</u> or <u>remove</u> both parents and teachers from your school.&nbsp;
                  </small>
                </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

            </div>


          </div>


        </div>


        <div class="card bg-secondary shadow border-0 mt-lg">
                <div class="card-header bg-primary pb-0">
                    <div class="mb-md-1 text-white display-4 font-weight-light">
                        <img class="avatar avatar-lg mr-2 bg-white" src="{% static '/assets/img/brand/players/bunny1_jump.png' %}">
                      <!--<strong>The journey of a thousand rewards begins with one Task !</strong>-->
                      <strong>More Tasks
                        &nbsp;
                        <i class="fa fa-long-arrow-right"></i>
                        &nbsp;
                        More Rewards
                        &nbsp;
                        <i class="fa fa-long-arrow-right"></i>
                        &nbsp;
                        Academic Excellence</strong>
                    </div>
                </div>
              <!--<div class="card-body px-lg-5 py-lg-5">-->
                <div class="card-body">

                    <p class="lead"><strong>Task-a-Thon&copy;</strong> enables parents to engage with
                    their school by creating tasks / assignments. Parents pay rewards once the tasks are
                completed by the assigned classrooms and approved by the parent(s) who created the task.</p>

                    <p class="lead">Here's an overview of the users and the <strong>task-to-reward</strong> workflow:</p>
                <img class="img-fluid my-md" src="{% static '/assets/img/tt-wf.png' %}">


            </div>

            <div class="card-footer">
              <div class="row">
                <div class="col-lg-3">
                  <a href="{% url 'parent_signup' %}" class="btn btn-info btn-md btn-block  my-1">
                    <i class="fa fa-plus-circle"></i>
                    PARENTS SIGNUP
                  </a>
                </div>
                <div class="col-lg-3">
                <a href="{% url 'teacher_signup' %}" class="btn btn-warning btn-md  btn-block my-1">
                  <i class="fa fa-plus-circle"></i>
                  TEACHERS SIGNUP
                </a>
                </div>
                <div class="col-lg-3">
                <a href="{% url 'new_school' %}" class="btn btn-default btn-md btn-block  my-1">
                    <i class="fa fa-plus-circle"></i>
                    REGISTER YOUR SCHOOL
                </a>
                </div>
                <div class="col-lg-3">
                <a href="{% url 'pricing' %}" class="btn btn-outline-primary btn-md btn-block my-1">
                  <i class="fa fa-question-circle"></i>
                  PREMIUM FEATURES
                </a>
                </div>
              </div>

            </div>
        </div>




        <!--<img class="img-fluid my-md bg-white rounded shadow-lg" src="{% static '/assets/img/tt-wf.png' %}">-->


      </div>
       <!--SVG separator-->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>

    </section>

    <!--<section class="section section-lg section-shaped"></section>-->


    <!--<section class="section section-lg bg-primary">-->
      <!--<div class="container pt-lg pb-300">-->
        <!--<div class="row text-center justify-content-center">-->
          <!--<div class="col-lg-10">-->
            <!--<h2 class="display-3 text-white">Connect with Parents. Fundraise Year Round.</h2>-->
            <!--<p class="lead text-white">-->
              <!--Task-a-Thon provides a unique platform for parents and teachers to interact-->
              <!--and mutually benefit. Parents actively participate by creating assignments which-->
              <!--are rewarded once completed by the grades.-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row row-grid mt-5">-->
          <!--<div class="col-lg-4">-->
            <!--<div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">-->
              <!--<i class="ni ni-settings text-primary"></i>-->
            <!--</div>-->
            <!--<h5 class="text-white mt-3">Building tools</h5>-->
            <!--<p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">-->
              <!--<i class="ni ni-ruler-pencil text-primary"></i>-->
            <!--</div>-->
            <!--<h5 class="text-white mt-3">Grow your market</h5>-->
            <!--<p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">-->
              <!--<i class="ni ni-atom text-primary"></i>-->
            <!--</div>-->
            <!--<h5 class="text-white mt-3">Launch time</h5>-->
            <!--<p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; SVG separator &ndash;&gt;-->
      <!--<div class="separator separator-bottom separator-skew zindex-100">-->
        <!--<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">-->
          <!--<polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>-->
        <!--</svg>-->
      <!--</div>-->
    <!--</section>-->




  </main>

{% endblock %}