{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">School Rewards</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card border-dark">
            <h5 class="card-header bg-dark text-white">
            Please Log In
            </h5>
          <div class="card-body">
            <!--<h3 class="card-title">Log in</h3>-->
            <form method="post" novalidate>
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-secondary btn-sm">LOG IN</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
              New to School Rewards?
          </div>

        <a href="{% url 'parent_signup' %}" class="btn btn-info btn-block btn-sm my-1" role="button" aria-pressed="true">
            <strong>SIGNUP AS PARENT</strong></a>
        <a href="{% url 'teacher_signup' %}" class="btn btn-light btn-block btn-sm my-1 active" role="button" aria-pressed="true">
            <strong>SIGNUP AS TEACHER</strong></a>

        <div class="text-center py-2">
          <small>
            <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
          </small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}