{% extends 'pub_base.html' %}

{% load static %}

{% block main %}
  <main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-5">
            {% include 'includes/messages.html' %}
            </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-9">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-gradient-primary pb-0">
                <div class="mb-md-1 text-white text-uppercase">
                    <img class="avatar avatar-lg mr-2 bg-white" src="{% static '/assets/img/brand/players/bunny1_jump.png' %}">
                  PLEASE <u>LOG IN</u> or <u>experience</u> the app using demo accounts
                </div>
              </div>
              <!--<div class="card-body px-lg-5 py-lg-5">-->
              <div class="card-body">
                <div class="row">
                  <div class="col col-lg-5">
                    <form role="form" method="post" novalidate>
                      {% csrf_token %}
                      <input type="hidden" name="next" value="{{ next }}">
                      {% include 'includes/form.html' %}

                      <p class="required small">
                        <i class="fa fa-exclamation-circle"></i>
                        &nbsp;By logging In, I consent to Task-a-Thon's <a href="{% url 'privacy' %}" target="_blank">privacy policy</a>

                        <a href="{% url 'password_reset' %}">
                          <span class="text-uppercase bg-white rounded text-primary float-right">&nbsp;Forgot password?&nbsp;</span>
                        </a>

                      </p>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary my-3">
                          <!--<img class="bg-transparent" src="{% static '/assets/img/brand/keyGreen.png' %}">-->
                          <i class="fa fa-lock"></i>
                          Log In
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="col col-lg-7">
                    <h6><span class="bg-white text-default rounded shadow">&nbsp;Live Demo Accounts&nbsp;</span></h6>
                    <div class="table-responsive rounded">
                      <table class="table align-items-center table-white table-flush rounded">
                        <thead class="thead-light">
                                <tr>
                                  <th scope="col"><span class="small"><strong>ROLE</strong></span></th>
                                  <th scope="col"><span class="small"><strong>USERNAME</strong></span></th>
                                  <th scope="col"><span class="small"><strong>PASSWORD</strong></span></th>
                                </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <td class="align-middle">
                                <span class="small rounded bg-success text-white">&nbsp;Parent&nbsp;</span>
                              </td>
                              <td class="align-middle small">parentuser</td>
                              <td class="align-middle small">demopassword</td>
                          </tr>
                          <tr>
                              <td class="align-middle">
                                <span class="small rounded bg-warning text-white">&nbsp;Teacher&nbsp;</span>
                              </td>
                              <td class="align-middle small">teacheruser</td>
                              <td class="align-middle small">demopassword</td>
                          </tr>
                          <tr>
                              <td class="align-middle">
                                <span class="small rounded bg-info text-white">&nbsp;School Admin&nbsp;</span>
                              </td>
                              <td class="align-middle small">schooladmin</td>
                              <td class="align-middle small">demopassword</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
            <div>
          </div>
                <!--<div class="row">-->
                  <div class="col-lg-12 my-1">
                    <a href="{% url 'parent_signup' %}" class="btn btn-light btn-md btn-block" role="button" aria-pressed="true">
                      <i class="fa fa-user-circle-o"></i>
                      <strong>I'm a Parent</strong>
                    </a>
                  </div>
                  <div class="col-lg-12 my-1">
                    <a href="{% url 'teacher_signup' %}" class="btn btn-white btn-md btn-block" role="button" aria-pressed="true">
                      <i class="fa fa-user-circle-o"></i>
                      <strong>I'm a teacher</strong></a>
                  </div>
                <!--</div>-->
                    <div class="col-lg-12 my-1">
                      <a href="{% url 'new_school' %}" class="btn btn-info btn-md btn-block" role="button" aria-pressed="true">
                        <i class="fa fa-book"></i>
                        <strong>ADD MY SCHOOL</strong>
                      </a>
                    </div>
            </div>



              <!--<div class="card-footer">-->
                <!--&lt;!&ndash;New to School Rewards?&ndash;&gt;-->
                    <!--<a href="{% url 'new_school' %}" class="btn btn-sm" role="button" aria-pressed="true">-->
                        <!--<strong>ADD MY SCHOOL</strong></a>-->
                    <!--<a href="{% url 'parent_signup' %}" class="btn  btn-sm" role="button" aria-pressed="true">-->
                    <!--<strong>SIGNUP AS PARENT</strong></a>-->
                    <!--<a href="{% url 'teacher_signup' %}" class="btn btn-sm" role="button" aria-pressed="true">-->
                    <!--<strong>SIGNUP AS TEACHER</strong></a>-->
              <!--</div>-->
              <!--</div>-->
            </div>
            <!--<div class="row mt-3">-->
              <!--<div class="col">-->
                <!---->
              <!--</div>-->
              <!--&lt;!&ndash;<div class="col-6 text-right">&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#" class="text-light">&ndash;&gt;-->
                  <!--&lt;!&ndash;<small>Create new account</small>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}