{% extends 'pub_base.html' %}

{% load static %}

{% block main %}
  <main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-gradient-primary pb-0">
                <div class="mb-md-1 text-white text-center">
                    <img class="avatar avatar-lg mr-2" src="{% static '/assets/img/brand/players/bunny1_jump.png' %}">
                    PLEASE LOG IN
                </div>
              </div>
              <!--<div class="card-body px-lg-5 py-lg-5">-->
              <div class="card-body">
                <!--<div class="text-center text-muted mb-4">-->
                  <!--<small>Or sign in with credentials</small>-->
                <!--</div>-->
                <form role="form" method="post" novalidate>
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ next }}">
                  {% include 'includes/form.html' %}

                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id="customCheckLogin" type="checkbox"> <!--checked="checked"-->
                    <label class="custom-control-label" for="customCheckLogin">
                      <span>Remember me</span>
                    </label>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary my-3">Log In</button>
                  </div>
                </form>

            <div>
                <!--<div class="row">-->
                  <div class="col-lg-12 my-1">
                    <a href="{% url 'parent_signup' %}" class="btn btn-light btn-md btn-block" role="button" aria-pressed="true">
                      <i class="fa fa-user-circle-o"></i>
                      <strong>PARENTS SIGNUP</strong>
                    </a>
                  </div>
                  <div class="col-lg-12 my-1">
                    <a href="{% url 'teacher_signup' %}" class="btn btn-white btn-md btn-block" role="button" aria-pressed="true">
                      <i class="fa fa-user-circle-o"></i>
                      <strong>TEACHERS SIGNUP</strong></a>
                  </div>
                <!--</div>-->
                    <div class="col-lg-12 my-1">
                      <a href="{% url 'new_school' %}" class="btn btn-info btn-md btn-block" role="button" aria-pressed="true">
                        <i class="fa fa-book"></i>
                        <strong>REGISTER MY SCHOOL</strong>
                      </a>
                    </div>
            </div>

              </div>

              <!--<div class="card-footer">-->
                <!--&lt;!&ndash;New to School Rewards?&ndash;&gt;-->
                    <!--<a href="{% url 'new_school' %}" class="btn btn-sm" role="button" aria-pressed="true">-->
                        <!--<strong>ADD MY SCHOOL</strong></a>-->
                    <!--<a href="{% url 'parent_signup' %}" class="btn  btn-sm" role="button" aria-pressed="true">-->
                    <!--<strong>SIGNUP AS PARENT</strong></a>-->
                    <!--<a href="{% url 'teacher_signup' %}" class="btn btn-sm" role="button" aria-pressed="true">-->
                    <!--<strong>SIGNUP AS TEACHER</strong></a>-->
              <!--</div>-->
              <!--</div>-->
            </div>
            <div class="row mt-3">
              <div class="col">
                <a href="{% url 'password_reset' %}" class="text-neutral">
                  <small>Forgot password?</small>
                </a>
              </div>
              <!--<div class="col-6 text-right">-->
                <!--<a href="#" class="text-light">-->
                  <!--<small>Create new account</small>-->
                <!--</a>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}