{% extends 'base.html' %}
{% load static %}


{% block title %}Start a New Task{% endblock %}

{% block school %}
        {{school}}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb bg-transparent my-2">
    <li class="breadcrumb-item">
        <a href="{% url 'tasks' %}">
            <i class="fa fa-home"></i>
                TASKS
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">NEW TASK</li>
</ol>
{% endblock %}

{% block newtask %}

    <!--<div class="row justify-content-center">-->
    <div class="row justify-content-center">
        <div class="col col-lg-7">
            <div class="card shadow">
                <div class="card-header bg-gradient-primary border-0">
                    <h5 class="text-neutral my-0">
                        <img class="avatar avatar-sm bg-white" src="{% static '/assets/img/brand/players/bunny2_jump.png' %}">
                        CREATE A NEW ASSIGNMENT
                    </h5>
                </div>
                <div class="container my-3">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}

                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-cloud"></i>
                            Save
                        </button>
                            <a href="{% url 'tasks' %}" class="btn btn-secondary" role="button" aria-pressed="true">
                                <i class="fa fa-times-circle"></i>
                                Cancel
                            </a>
                        <!--TODO: Make expires on work along with the validations-->
                    </form>
                </div>
                <div class="card-footer">
                    <!--<button type="submit" class="btn btn-primary">Save</button>-->
                    <a href="{% url 'tasks' %}" class="text text-primary" role="button" aria-pressed="true">
                        <i class="fa fa-caret-left"></i>
                        TASKS DASHBOARD
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
