{% extends 'pub_base.html' %}
{% load static %}


{% block main %}
<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7">
            {% include 'includes/messages.html' %}
            </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-primary pb-0">
                <div class="mb-md-1 text-center text-white">
                  <img class="avatar avatar-sm bg-white" src="{% static '/assets/img/brand/players/bunny1_jump.png' %}">
                  WELCOME, PLEASE <strong><u>FIND</u></strong> OR <strong><u>REQUEST TO ADD</u></strong> YOUR SCHOOL
                </div>
              </div>
              <!--<div class="card-body px-lg-5 py-lg-5">-->
              <div class="card-body">
                <!--<div class="text-center text-muted mb-4">-->
                  <!--<small>Or sign in with credentials</small>-->
                <!--</div>-->
                <form role="form" method="post" novalidate>

                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ next }}">
                  {% include 'includes/form.html' %}

                  <p class="required">
                    <i class="fa fa-exclamation-circle"></i>
                    By submitting this information, you agree to our <a href="#" target="_blank">terms</a> and have
                    read and accept our <a href="#" target="_blank">privacy policies.</a></p>
                  <!--<div class="custom-control custom-control-alternative custom-checkbox">-->
                    <!--<input class="custom-control-input" id="customCheckLogin" type="checkbox" required>-->
                    <!--<label class="custom-control-label" for="customCheckLogin">-->
                      <!--<span>I accept the-->
                        <!--<a href="">privacy policy</a>-->
                      <!--</span>-->
                    <!--</label>-->
                  <!--</div>-->
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block my-3">
                      <i class="fa fa-check-circle"></i>
                      SUBMIT REQUEST TO ADD SCHOOL
                    </button>
                  </div>
                </form>

                  Already have an account? <a href="{% url 'login' %}">Log in</a>

              </div>

              <!--<div class="card-footer">-->
                <!--&lt;!&ndash;New to School Rewards?&ndash;&gt;-->
                    <!--<a href="{% url 'new_school' %}" class="btn btn-sm" role="button" aria-pressed="true">-->
                        <!--<strong>ADD MY SCHOOL</strong></a>-->
                    <!--<a href="{% url 'parent_signup' %}" class="btn  btn-sm" role="button" aria-pressed="true">-->
                    <!--<strong>SIGNUP AS PARENT</strong></a>-->
                    <!--<a href="{% url 'teacher_signup' %}" class="btn btn-sm" role="button" aria-pressed="true">-->
                    <!--<strong>SIGNUP AS TEACHER</strong></a>-->
              <!--</div>-->
              <!--</div>-->
            </div>
            <div class="row mt-3">
              <div class="col">
                <a href="{% url 'password_reset' %}" class="text-neutral">
                    <small>Forgot Password ?</small>
                </a>
              <small>
                  <a href="{% url 'signup' %}" class="text-neutral float-right">
                    Sign up for a free account
                </a>
              </small>
              </div>
              <!--<div class="col-6 text-right">-->
                <!--<a href="#" class="text-light">-->
                  <!--<small>Create new account</small>-->
                <!--</a>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
{% endblock %}