{% extends 'pub_base.html' %}

{% load static %}

{% block main %}

<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card border-dark">
                    <h5 class="card-header bg-success text-white">
                        Password Reset Link Sent
                    </h5>
                    <div class="card-body">
                        <!--<h3 class="card-title">Reset your password</h3>-->
                        <p>Please check your email for a link to reset your password. If it doesn't appear within a few minutes, please check your spam folder.</p>
                            <a href="{% url 'login' %}" class="btn btn-primary btn-block">RETRY LOGIN</a>
                            <a href="{% url 'home' %}" class="btn btn-light btn-block">Return to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</main>
{% endblock %}