{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block title %}Reset your password{% endblock %}

{% block body %}
  <div class="container">

    <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">School Rewards</a>
    </h1>

  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card border-dark">
          <h5 class="card-header bg-dark text-white">
            Reset your password
            </h5>
        <div class="card-body">
          <!--<h3 class="card-title">Reset your password</h3>-->
          <p>Please enter your email address and we will send you a link to reset your password.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-outline-secondary btn-block">Email password reset instructions</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}