{% extends 'pub_base.html' %}

{% load static %}

{% block title %}PASSWORD CHANGED{% endblock %}

{% block main %}
<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="card border-dark">
                    <h5 class="card-header bg-dark text-white">
                        PASSWORD CHANGED
                    </h5>
                <div class="card-body">
                    <!--<h3 class="card-title">Password changed!</h3>-->
                    <div class="alert alert-success" role="alert">
                        Password changed successfully! Please proceed to log in.
                    </div>
                    <a href="{% url 'login' %}" class="btn btn-success btn-block">Return to Log In</a>
                </div>
                </div>
            </div>
        </div>
      </div>
    </section>
</main>
{% endblock %}