{% extends 'pub_base.html' %}

{% load static %}

{% block main %}

<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="card border-default">
              <h5 class="card-header bg-primary text-white">
                <img class="avatar avatar-sm bg-white" src="{% static '/assets/img/brand/players/bunny1_jump.png' %}">
              RESET PASSWORD
              </h5>
            <div class="card-body">
              <!--<h3 class="card-title">Reset your password</h3>-->
              <p>Please enter the email address associated with your account. We will send you a link to reset your password.</p>
              <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-primary btn-lg">Send Reset Link</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}