{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb bg-light my-2">
  <li class="breadcrumb-item active">Change password</li>
</ol>
{% endblock %}

{% block changepassword %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Change Password</button>
        <a href="{% url 'tasks'%}" class="btn btn-secondary" role="button">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}