{% extends 'base.html' %}

{% block title %}PASSWORD CHANGED{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb bg-transparent my-2">
  <li class="breadcrumb-item"><a href="{% url 'password_change' %}">PASSWORD CHANGE</a></li>
  <li class="breadcrumb-item active">SUCCESS</li>
</ol>
{% endblock %}

{% block passwordchangedone %}

  <div class="alert alert-success" role="alert">
    <strong>Success!</strong> Your password has been changed!
  </div>
  <a href="{% url 'tasks' %}" class="btn btn-outline-success">
    <i class="fa fa-long-arrow-left"></i>
    RETURN TO DASHBOARD
  </a>

{% endblock %}