{% extends 'pub_base.html' %}

{% load static %}

{% block main %}

  <main>
    <div class="position-relative"></div>

    <section class="section section-lg section-shaped">
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <!--<span></span>-->
        <span></span>
      </div>
      <div class="container pb-150">
        <div class="row justify-content-center">
        <div class="col-lg-12">

             <div class="card bg-secondary shadow border-0 mt-sm">
                <div class="card-header bg-primary pb-0">
                    <div class="mb-md-1 text-white display-4 font-weight-light">
                        <img class="avatar avatar-lg mr-2 bg-white" src="{% static '/assets/img/brand/players/bunny2_jump.png' %}">
                        Task-a-Thon<sup>&copy</sup> Privacy Policy
                    </div>
                </div>
              <!--<div class="card-body px-lg-5 py-lg-5">-->
                <div class="card-body">
                    <p>
                        Welcome to <a href="{% url 'home' %}">Task-a-Thon<sup>&copy;</sup></a>!
                        We understand that privacy and security are crucial to you and your school.
                        Please read our policy and <a href="{% url 'contact_us' %}" target="_blank"><u>contact us</u></a> if you have any questions or concerns.
                    </p>
                    <br>
                    <p class="text-primary"><strong>Information Security</strong></p>
                    <br>
                    <p>
                        <span class="bg-white rounded">Account Verification.</span> You can join your school by:
                        (1) submitting a request to add your school to our platform,
                        (2) signing up for a parent or a teacher account once your school has been added
                        (3) other methods we may develop over time.
                    </p>
                    <p>
                        If you request to create an account on Task-a-Thon, we retain your request information indefinitely and use it to provide the requested notification and assist with your verification. If you change your mind about wanting to be notified, please contact us.
                    </p>
                    <p>
                        <span class="bg-white rounded">Profile Information.</span>
                        We allow you to create a personal profile and submit information such as your email, first and last name and your association to your school.
                        Under My Schools screen, your email address, first name and last name are  visible only to other verified users at your school.
                        We never collect information on children or their grade affiliation.
                    </p>

                    <p>
                        <span class="bg-white rounded">Data Modification/Deletion.</span> You can delete your account by contacting us.
                        Alternatively, you can delete most types of individual content items.
                        Deleting your account will delete all content you provided, except that we may choose to retain content incorporated into conversations (and, as applicable, task, discussions); and we may attribute that content to your name even after you depart.
                        If you are the subject of an unauthorized profile, please contact us.
                    </p>

                    <p>
                        <span class="bg-white rounded">Email Subscriptions.</span>
                        We will alert you of various activities within your school or district via email.
                    </p>

                    <p>
                        <span class="bg-white rounded">Contractors/Service Providers.</span>
                        Third party contractors may have access to our databases. These contractors sign a standard confidentiality agreement.
                    </p>

                    <p>
                        <span class="bg-white rounded">Government Relations and Lawsuits.</span>
                        We may disclose data about you to the government if we are required to do so or as we think is prudent for safety or security reasons; and you authorize us to make these disclosures. We may also disclose data about you in connection with actual or potential legal proceedings (a) in response to judicial or other government subpoenas, warrants or orders, (b) if we are required to do so in other ways, (c) if such disclosures might mitigate our liability, or (d) to enforce our rights.
                    </p>

                    <p>
                        <span class="bg-white rounded">Data Retention.</span>
                        Subject to any mandatory obligations to delete data, we may choose to retain information in our server logs, our databases and our records indefinitely.
                    </p>

                    <p>
                        <span class="bg-white rounded">Security.</span>
                        To enhance the security of your interactions with the site, Task-a-Thon uses https on its web pages to prevent unauthorized interception of your communications during your site visits and takes measures to protect passwords from unauthorized access. We also use a variety of security measures to protect your information in our databases. However, please be aware that perfect security does not exist on the Internet.
                    </p>

                </div>

            <div class="card-footer">
              <div class="row">
                <div class="col-lg-3">
                  <a href="{% url 'parent_signup' %}" class="btn btn-info btn-md btn-block  my-1">
                    <i class="fa fa-plus-circle"></i>
                    PARENTS SIGNUP
                  </a>
                </div>
                <div class="col-lg-3">
                <a href="{% url 'teacher_signup' %}" class="btn btn-warning btn-md  btn-block my-1">
                  <i class="fa fa-plus-circle"></i>
                  TEACHERS SIGNUP
                </a>
                </div>
                <div class="col-lg-3">
                <a href="{% url 'new_school' %}" class="btn btn-default btn-md btn-block  my-1">
                    <i class="fa fa-plus-circle"></i>
                    REGISTER YOUR SCHOOL
                </a>
                </div>
                <div class="col-lg-3">
                <a href="{% url 'pricing' %}" class="btn btn-outline-primary btn-md btn-block my-1">
                  <i class="fa fa-question-circle"></i>
                  PREMIUM FEATURES
                </a>
                </div>
              </div>

            </div>
        </div>


    </div>
</div>
</div>
       <!--SVG separator-->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>

    </section>

    <!--<section class="section section-lg section-shaped"></section>-->


    <!--<section class="section section-lg bg-primary">-->
      <!--<div class="container pt-lg pb-300">-->
        <!--<div class="row text-center justify-content-center">-->
          <!--<div class="col-lg-10">-->
            <!--<h2 class="display-3 text-white">Connect with Parents. Fundraise Year Round.</h2>-->
            <!--<p class="lead text-white">-->
              <!--Task-a-Thon provides a unique platform for parents and teachers to interact-->
              <!--and mutually benefit. Parents actively participate by creating assignments which-->
              <!--are rewarded once completed by the grades.-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row row-grid mt-5">-->
          <!--<div class="col-lg-4">-->
            <!--<div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">-->
              <!--<i class="ni ni-settings text-primary"></i>-->
            <!--</div>-->
            <!--<h5 class="text-white mt-3">Building tools</h5>-->
            <!--<p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">-->
              <!--<i class="ni ni-ruler-pencil text-primary"></i>-->
            <!--</div>-->
            <!--<h5 class="text-white mt-3">Grow your market</h5>-->
            <!--<p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">-->
              <!--<i class="ni ni-atom text-primary"></i>-->
            <!--</div>-->
            <!--<h5 class="text-white mt-3">Launch time</h5>-->
            <!--<p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; SVG separator &ndash;&gt;-->
      <!--<div class="separator separator-bottom separator-skew zindex-100">-->
        <!--<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">-->
          <!--<polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>-->
        <!--</svg>-->
      <!--</div>-->
    <!--</section>-->

</main>

{% endblock %}