{% extends 'pub_base.html' %}
{% load static %}

{% block main %}
  <main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-gradient-primary pb-0">
                <div class="mb-md-1 text-center text-white">
                    <img class="avatar avatar-lg mr-2" src="{% static '/assets/img/brand/players/bunny1_jump.png' %}">
                      PLEASE SIGN UP
                </div>
              </div>
              <!--<div class="card-body px-lg-5 py-lg-5">-->
              <div class="card-body">
                <!--<div class="text-center text-muted mb-4">-->
                  <!--<small>Or sign in with credentials</small>-->
                <!--</div>-->
                <form role="form" method="post" novalidate>
                    <small class="text-muted">
                        Your school is using <a target="_blank" href="https://www.paypal.com/us/webapps/mpp/education">Paypal School Payment Solutions</a>
                        to accept payments. <strong>Parents</strong> are requested to open a <a target="_blank" href="https://www.paypal.com/us/webapps/mpp/account-selection">PayPal account</a> to participate.
                    </small>
                    <hr>
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ next }}">
                  {% include 'includes/form.html' %}

                  <!--<div class="custom-control custom-control-alternative custom-checkbox">-->
                    <!--<input class="custom-control-input" id="customCheckLogin" type="checkbox">-->
                    <!--<label class="custom-control-label" for="customCheckLogin">-->
                      <!--<span>I accept the-->
                        <!--<a href="">privacy policy</a>-->
                      <!--</span>-->
                    <!--</label>-->
                  <!--</div>-->
                  <p class="required">
                    <i class="fa fa-exclamation-circle"></i>
                    &nbsp;By signing up for an account, I consent to Task-a-Thon<sup>&copy;</sup> <a href="{% url 'privacy' %}" target="_blank">privacy policy</a>
                  </p>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block my-3">Create My Account</button>
                  </div>
                </form>

                  Already have an account? <a href="{% url 'login' %}">Log in</a>

              </div>

              <!--<div class="card-footer">-->
                <!--&lt;!&ndash;New to School Rewards?&ndash;&gt;-->
                    <!--<a href="{% url 'new_school' %}" class="btn btn-sm" role="button" aria-pressed="true">-->
                        <!--<strong>ADD MY SCHOOL</strong></a>-->
                    <!--<a href="{% url 'parent_signup' %}" class="btn  btn-sm" role="button" aria-pressed="true">-->
                    <!--<strong>SIGNUP AS PARENT</strong></a>-->
                    <!--<a href="{% url 'teacher_signup' %}" class="btn btn-sm" role="button" aria-pressed="true">-->
                    <!--<strong>SIGNUP AS TEACHER</strong></a>-->
              <!--</div>-->
              <!--</div>-->
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <a href="{% url 'password_reset' %}" class="text-white">
                  <small class="text-uppercase">Forgot password?</small>
                </a>
              </div>
              <!--<div class="col-6 text-right">-->
                <!--<a href="#" class="text-light">-->
                  <!--<small>Create new account</small>-->
                <!--</a>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}