{% extends 'base.html' %}

{% load humanize %}
{% load static %}

{% block school %}
        {{school}}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb  bg-transparent my-2">
    <li class="breadcrumb-item"><a href="{% url 'tasks' %}">TASKS</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ task.starter.username|upper}}-{{task.id}}</li>
</ol>
{% endblock %}


{% block tasks  %}
<div class="row my-2">
    <div class="col">
        <div class="card bg-white shadow">
            <!--<div class="card-header bg-transparent border-0">-->
                <!--<h5 class="text-primary mb-0">Task Details</h5>-->
            <!--</div>-->

            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead">
                        <tr>
                            <th>Task</th>
                            <th>Success Criteria</th>
                            <th>Starter</th>
                            <th>Status</th>
                            <!--<th>Expires</th>-->
                            <!--<th>Last Update</th>-->
                            <th></th><!--actions-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="heading">
                                <p>
                                {% if task.is_expired %}
                                    <small class="text-muted">Expired {{ task.expires_on | date:"D, d M, Y" }} : </small>
                                {% else %}
                                    <small class="text-muted">Expires {{ task.expires_on | date:"D, d M, Y" }} :</small>
                                {% endif %}
                                </p>
                                <p>
                                    {{ task.name }}
                                </p>
                            </td>
                            <td>
                                <p>
                                    {{ task.success_criteria }}
                                </p>
                            </td>
                            <!--<td class="align-middle">{{ task.starter.username|title }}</td>-->
                            <td class="align-middle">
                                <span class="avatar avatar-sm bg-purple shadow rounded">
                                    {{ task.avatar_text| upper }}
                                </span>
                            </td>

                            <td class="align-middle">
                                {{ task.status.get_html_badge }} <!-- TODO: update task status once claimed -->
                            </td>

                            <!--<td></td>-->
                            <!--<td class="align-middle"></td>-->
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer justify-content-end mb-0">
                {% if not task.is_expired %}
                    {% if task.starter == user and task.claims.count < 1 and user.is_parent and task.status|upper != "PENDING PAYMENT" and task.status|upper != "PAID" %}
                    <!--prevent task edit and delete if a claim exists-->
                        <a href="{% url 'edit_task' task.pk %}" class="btn btn-info btn-sm" role="button" aria-pressed="true">
                            <i class="fa fa-pencil-square"></i>
                            Edit
                        </a>
                        <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true">
                            <i class="fa fa-trash"></i>
                            Delete
                        </a>
                    {% endif %}

                    {% if task.starter == user and task.status|upper == "PENDING PAYMENT" %}
                        <!--6 is for pending payment-->
                        <!--had to add upper for the match-->
                        <a href="{% url 'new_payment_to_task' task.pk %}" class="btn btn-success btn-sm" role="button" aria-pressed="true">
                            <strong>PAY ${{task.reward.amount}}</strong>
                        </a>
                    {% endif %}
                {% endif %}

                {% for x in task.grade %}
                    <span class="badge badge-info float-right mr-1 my-1">Grade {{x}}</span>
                {% endfor %}

            </div>
        </div>
    </div>
</div>


<!--claims card-->


<div class="row my-2">
    <div class="col">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-transparent border-0">

                <h5 class="text-primary">
                    <!--<i class="fa fa-trophy"></i>-->
                    <img class="bg-transparent avatar avatar-sm rounded"
                        src="{% static '/assets/img/brand/carrot_gold.png' %}">
                    Rewards

                    <span class="badge badge-pill badge-info">{{ task.claims.count }}</span>

                    <div class="float-right">
                        {% if task.starter != user and user.is_teacher and task.claims.count < 1 %}
                            <!--parents cannot raise a claim , only teachers can-->
                            <a href="{% url 'new_claim_to_task' task.pk %}" class="btn btn-icon btn-3 btn-primary btn-md" role="button" aria-pressed="true">
                                <span class="btn-inner--icon">
                                    <!--<i class="ni ni-atom"></i>-->
                                    <img class="bg-transparent"
                                        src="{% static '/assets/img/brand/flagGreen2.png' %}">
                                </span>
                                TASK COMPLETED
                            </a>
                            <!--TODO: prevent a user from claiming the same task more than once-->
                        {% endif %}
                    </div>
                </h5>

                <div class="table-responsive my-1">

                    {% if task.claims.count > 0 %}

                        <table class="table align-items-center table-white table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Teacher</th>
                                    <th scope="col"></th>
                                    <th scope="col">Message</th>
                                    <th scope="col">Reward Status</th>
                                    <!--<th scope="col">Claimed</th>-->
                                    <th scope="col">Actions</th>
                                    <!--<th scope="col"></th>-->

                                </tr>
                            </thead>
                            <tbody>
                            {% for claim in task.claims.all %}
                                <tr>
                                    <td class="align-middle" colspan="2">
                                        <small>
                                            <img class="avatar avatar-sm" src="/static/assets/img/brand/players/bunny1_jump.png">
                                            {{ claim.created_by.username}}
                                            <br><strong>Claims:</strong> {{ claim.created_by.claims.count }}
                                            <br>{{ claim.created_at |naturaltime }}
                                            <!--TODO: Add Karma or UserType based on # posts. If else-->
                                        </small>
                                    </td>
                                    <td class="align-middle">
                                        <small>
                                            {{ claim.message }}
                                        </small>
                                    </td>
                                    <td class="align-middle">
                                        {{ claim.status.get_html_badge }}
                                    </td>
                                    <!--<td class="align-middle">{{ claim.created_at |naturaltime }}</td>-->
                                    <td class="align-middle justify-content-end">

                                {% if claim.created_by == user %}
                                    <a href="{% url 'edit_claim' claim.task.pk claim.pk %}" class="btn btn-info btn-sm my-1" role="button" aria-pressed="true">
                                        <i class="fa fa-pencil-square"></i>
                                        Edit
                                    </a>
                                    <a href="{% url 'delete_claim' claim.task.pk claim.pk %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true">
                                        <i class="fa fa-trash"></i>
                                        Delete
                                    </a>
                                {% endif %}
                                {% if task.starter == user and not claim.status|upper == 'APPROVED' %}

                                    <a href="{% url 'new_reply_to_task' task.pk %}" class="btn btn-warning btn-sm my-1" role="button" aria-pressed="true">
                                        <i class="fa fa-info-circle"></i>
                                        Request Info
                                    </a>
                                    <a href="{% url 'approve_claim' claim.task.pk claim.pk %}" class="btn btn-success btn-sm my-1" role="button" aria-pressed="true">
                                        <i class="fa fa-check-square"></i>
                                        Approve
                                    </a>
                                    <!--<a href="#" class="btn btn-danger btn-sm" role="button" aria-pressed="true">-->
                                        <!--Reject</a>-->
                                    <!--No rejections allowed-->
                                {% endif %}

                                    <!--<a href="#" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">-->
                                        <!--Reply</a>-->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="lead text-default my-1">
                            Reward can be claimed once the task is completed.
                        </div>

                {% endif %}
              </div>
            </div>
        </div>
    </div>
</div>

<!--<p class="lead">-->
    <!--<strong>Claims</strong>-->
    <!--<span class="badge badge-pill badge-info">{{ task.claims.count }}</span>-->
<!--</p>-->



{% endblock %}


{% block replies %}

    <div class="row">
        <div class="col">
            <div class="card bg-secondary shadow">

                <div class="card-header bg-transparent border-0">

                    <h5 class="text-primary mb-3">
                        <!--<i class="fa fa-comments-o"></i>-->
                        <img class="bg-transparent avatar avatar-sm rounded"
                            src="{% static '/assets/img/brand/head_focus.png' %}">
                        Replies
                        <span class="badge badge-pill badge-info">{{ task.posts.count }}</span>

                        <div class="float-right">
                            <a href="{% url 'new_reply_to_task' task.pk %}" class="btn btn-icon btn-3 btn-primary btn-md my-1" role="button" aria-pressed="true">
                            <span class="btn-inner--icon">
                                <!--<i class="ni ni-atom"></i>-->
                                <img class="bg-transparent"
                                    src="{% static '/assets/img/brand/mushroom_red.png' %}">
                            </span>
                                Reply
                            </a>
                        </div>
                    </h5>

                    <div class="table-responsive">
                    {% if task.posts.count > 0 %}
                        <table class="table align-items-center table-white table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">User</th>
                                    <th scope="col"></th>
                                    <th scope="col">Message</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for post in posts %}
                                <tr>
                                    <td class="align-middle" colspan="2">
                                        <img class="avatar avatar-sm" src="/static/assets/img/brand/players/bunny2_jump.png">
                                        {{ post.created_by.username}}
                                        <br><small><strong>Posts: </strong>{{ post.created_by.posts.count }}</small>
                                        <br><small><strong>Replied: </strong>{{ post.created_at |naturaltime }}</small>
                                    <!--TODO: Add Karma or UserType based on # posts. If else-->
                                    </td>
                                    <td class="align-middle"><small>{{ post.message }}</small></td>
                                    <!--<td class="align-middle">{{ post.created_at |naturaltime }}</td>-->
                                    <td class="align-middle justify-content-end">
                                    {% if post.created_by == user %}
                                        <a href="{% url 'edit_post' post.task.pk post.pk %}" class="btn btn-info btn-sm my-1" role="button" aria-pressed="true">
                                            <i class="fa fa-pencil"></i>
                                            <!--Edit-->
                                        </a>
                                        <a href="{% url 'delete_post' post.task.pk post.pk %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true">
                                            <i class="fa fa-trash"></i>
                                            <!--Delete-->
                                        </a>
                                    {% endif %}
                                        <!--<a href="#" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">-->
                                        <!--Reply</a>-->
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                    </table>
                    </div>
                </div>

                <div class="card-footer">

                    {% if posts.has_other_pages %}
                        <nav aria-label="Posts pagination" class="mb-1">
                            <ul class="pagination">
                            {% if posts.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ posts.previous_page_number }}"> < </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link"> < </span>
                                </li>
                            {% endif %}

                    {% for page_num in posts.paginator.page_range %}
                        {% if posts.number == page_num %}
                            <li class="page-item active">
                                <span class="page-link">
                                    {{ page_num }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if posts.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.next_page_number }}"> > </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"> > </span>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
            {% endif %}

            {% else %}
                <div class="lead my-1 text-default">
                Have a question or need more details? Please click reply.
                </div>
            {% endif %}
                <!--<a href="{% url 'new_reply_to_task' task.pk %}" class="btn btn-icon btn-3 btn-primary btn-md my-3" role="button" aria-pressed="true">-->
                    <!--<span class="btn-inner&#45;&#45;icon"><i class="ni ni-atom"></i></span>-->
                    <!--Reply-->
                <!--</a>-->
            </div>
        </div>
    </div> <!--col-->
</div> <!--row-->


{% endblock %}

