{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block school %}
    {{school}}
{% endblock %}


{% block breadcrumb %}

    <ol class="breadcrumb bg-transparent border-bottom border-secondary">
        <li class="breadcrumb-item" aria-current="page">
            <!--<i class="fa fa-area-chart"></i>-->
            <!--<i class="fa fa-pie-chart"></i>-->
            <i class="fa fa-bar-chart"></i>
            <span class="">
                <strong>
                    {% if user.is_teacher and user.teacher.is_school_admin %}
                        SCHOOL ADMIN
                    {% elif user.is_teacher %}
                        TEACHERS
                    {% elif user.is_parent %}
                        PARENTS
                    {% else %}
                    {% endif %}
                    <i class="fa fa-long-arrow-right"></i>
                    <!--<i class="fa fa-arrow-right"></i>-->
                    <!--<i class="fa fa-chevron-right"></i>-->

                </strong>
            </span>

            DASHBOARD
        </li>
    </ol>

{% endblock %}


{% block highcharts %}

<div class="collapse show" id="collapseCharts">
        <!--to show  charts by default you need collapse show-->
        <div class="row">
            <div class="col-xl-4 col-lg-6 my-1">
                <div id="chart_left"></div>
                <script src="{% static '/assets/js/highcharts.src.js' %}"></script>
                    <script>
                        Highcharts.chart('chart_left', {{ chart_left|safe }});
                    </script>
            </div>
            <div class="col-xl-4 col-lg-6 my-1">
                <div id="chart_middle"></div>
                    <script>
                        Highcharts.chart('chart_middle', {{ chart_middle|safe }});
                    </script>
            </div>
            <div class="col-xl-4 col-lg-6 my-1">
                <div id="chart_right"></div>
                    <script>
                        Highcharts.chart('chart_right', {{ chart_right|safe }});
                    </script>
            </div>
	    </div>
    </div>

{%endblock%}


<!-- TODO: [HIGH P] Create 3 seed tasks per school. It looks empty when a school is created -->
{% block tasks %}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header bg-secondary border-0">
                <h5 class="heading text-default mr-0">
                    <!--<i class="fa fa-star-o"></i>-->
                    <!--<i class="fa fa-star"></i>-->

                    {% if user.teacher.school.is_paid or user.parent.school.is_paid %}
                            <img class="bg-transparent avatar avatar-sm rounded"
                                 src="{% static '/assets/img/brand/gold_1.png' %}">
                        {% else %}
                            <!--<img class="bg-transparent avatar avatar-sm rounded"-->
                                <!--src="{% static '/assets/img/brand/bronze_1.png' %}">-->
                            <img class="bg-transparent avatar avatar-sm rounded"
                                src="{% static '/assets/img/brand/grass2.png' %}">
                    {% endif %}

                    <span class="badge bg-white border-bottom border-right shadow">
                        {{school|upper}}
                    </span>

                    <small>
                    <kbd class="bg-yellow text-default ml-2 my-1">
                        {% if user.teacher.school.is_paid or user.parent.school.is_paid %}
                            <a class="text-default ml-2" href="#">
                                <!--<img class="bg-transparent" src="{% static '/assets/img/brand/gold_1.png' %}">-->
                                <i class="fa fa-star-o"></i>
                                Premium
                            </a>
                        {% else %}
                            <a class="text-default ml-2 my-1" href="{% url 'upgrade_account' %}">
                                <i class="fa fa-arrow-circle-up"></i>

                                <span class="btn-inner--text">
                                    Upgrade to Premium
                                </span>
                            </a>
                        {% endif %}
                    </kbd>
                    </small>

                    <div class="float-right">
                    {% if user.is_parent %}
                            <!--<a href="{% url 'new_task' %}" class="btn btn-success btn-lg" role="button" aria-pressed="true">-->
                                <!--<strong>+ New Task</strong>-->
                            <!--</a>-->
                                <a href="{% url 'new_task' %}" class="btn btn-icon btn-md btn-success my-1">
	                                <span class="btn-inner--icon">
                                        <!--<i class="fa fa-pencil"></i>-->
                                        <!--<i class="fa fa-magic"></i>-->
                                        <img class="bg-transparent"
                                            src="{% static '/assets/img/brand/carrot.png' %}">

                                    </span>
                                    <span class="btn-inner--text">
                                        New Assignment
                                    </span>
                            </a>
                    {% endif %}
                    </div>
                </h5>
            </div>
        <div class="card-body bg-secondary">
            <div class="table-responsive">
                <table class="table align-items-center table-flush mt-1">
                    <thead class="thead">
                        <tr>
                            <th scope="col" class="lead">
                                <!--<i class="fa fa-tasks"></i>-->

                            <div class="row">
                                <div class="col col-lg-6">
                                    <strong>Task</strong>
                                </div>
                            </div>
                            </th>
                            <th scope="col" class="lead">
                                <!--<i class="fa fa-bolt"></i>-->
                                <strong>Starter</strong>
                            </th>
                            <!--<th scope="col">-->
                                <!--&lt;!&ndash;<i class="fa fa-comments"></i>&ndash;&gt;-->
                                <!--Replies-->
                            <!--</th>-->
                            <th scope="col" class="lead">
                                <!--<i class="fa fa-trophy"></i>-->
                                <strong>Reward</strong>
                            </th>
                            <th scope="col" class="lead">
                                <!--<i class="fa fa-toggle-on"></i>-->
                                <strong>Status</strong>
                            </th>
                            <!--<th scope="col">-->
                                <!--<i class="fa fa-calendar"></i>-->
                                <!--&lt;!&ndash;<i class="fa fa-clock-o"></i>&ndash;&gt;-->
                                <!--Expires-->
                            <!--</th>-->
                            <!--<th>Updated</th>-->
                            <th scope="col"></th>
                        </tr>

                    </thead>
                    <tbody>
                    <!-- Search bar start-->
                    <div class="row">
                        <div class="col"></div>
                        <div class="col col-lg-6">
                            <form method="get">
                                <div class="input-group mb-0 my-0">
                                    <!--<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-">-->
                                    {% render_field task_filter.form.name class="form-control" placeholder="Search" aria-label="Search Assignments" aria-describedby="button-search"%}
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-info" type="submit" id="button-search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Search bar end -->


                    {% for task in tasks %}

                        <tr>
                            <td>
                                <!--<a href="{% url 'task_replies' task.pk %}">{{ task.name }}</a>-->
                                <code>
                                    <a href="{% url 'task_replies' task.pk %}">
                                    <!--<span class="heading">{{ task.name | upper }}</span>-->
                                    <!--<kbd class="bg-white text-default">{{ task.name | upper }}</kbd>-->
                                    {{ task.name | upper }}
                                    </a>
                                </code>

                                <code>
                                    {% if task.is_expired %}
                                        <br>
                                        <small class="text-muted badge"><strong>Expired</strong>: {{task.expires_on |naturaltime }}</small>
                                    {% else %}
                                        <br><small class="text-muted"><strong>Expires</strong> in {{ task.expires_on |naturaltime }}</small>
                                    {% endif %}
                                </code>


                                <!--<br>-->
                                <!--<small class="text-muted d-block">{{ task.snippet_criteria }}</small>-->
                                <br>
                                <!--<a data-toggle="tooltip" data-placement="right" title="-->
                                    <!--{{task.name}} >>-->
                                    <!--{{ task.success_criteria }}">-->
                                        <!--<i class="fa fa-question-circle-o text-muted"></i>-->
                                <!--</a>-->

                                {% if task.posts.count > 0 %}
                                <!--<br><small class="text-muted"><strong>Replies</strong>: {{ task.posts.count }}</small>-->
                                <a href="{% url 'task_replies' task.pk %}" class="badge badge-success">
                                    <i class="fa fa-comments-o"></i>
                                    {{ task.posts.count }}
                                </a>
                                {% endif %}

                                <!--{% if task.claims.count > 0 %}-->
                                <!--<span href="{% url 'task_replies' task.pk %}" class="badge bg-teal text-white">-->
                                    <!--<i class="fa fa-trophy"></i>-->
                                    <!--&lt;!&ndash;Claimed&ndash;&gt;-->
                                <!--</span>-->
                                <!--{% else %}-->
                                <!--{% endif %}-->


                                {% for x in task.grade %}
                                <span class="badge badge-info">Grade {{x}}</span>
                                {% endfor %}



                            </td>
                            <td class="align-middle">
                                    <span class="avatar avatar-sm bg-light rounded shadow">
                                        {{ task.avatar_text| upper }}
                                    </span>
                            </td>
                            <!--<td class="align-middle">-->
                                <!--{{ task.posts.count }}-->
                            <!--</td>-->
                            <td class="align-middle text-primary heading justify-content-center">
                                <code><strong>
                                    ${{task.reward.amount}}
                                </strong></code>
                            </td>
                            <td class="align-middle">
                                {{ task.status.get_html_badge }}<!-- TODO: update task status once claimed -->
                            </td>
                            <!--<td class="align-middle">{{ task.expires_on |date:"M. d, Y (D)" }}</td>-->

                            <!--<td class="align-middle">{{ task.last_updated|naturaltime }}</td>-->
                            <td class="align-middle">
                            {% if task.starter == user and task.status|upper == "PENDING PAYMENT" and not task.is_expired %}
                                <!--6 is for pending payment-->
                                <!--had to add upper for the match-->
                                <a href="{% url 'new_payment_to_task' task.pk %}" class="btn btn-success btn-sm" role="button" aria-pressed="true">
                                    Pay ${{task.reward.amount}}
                                </a>
                            {% endif %}
                            {% if task.starter == user.is_teacher and task.starter != user and task.claims.count == 0 and not task.is_expired %}
                                <!--i.e. show only when task has not been claimed-->
                                    <a href="{% url 'new_claim_to_task' task.pk %}" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">
                                    Claim Reward
                                    </a>
                            {% endif %}
                            {% if task.starter == user and task.claims.count < 1 and user.is_parent and task.status|upper != "PENDING PAYMENT" and task.status|upper != "PAID" and not task.is_expired %}
                                <!--prevent task edit and delete if a claim exists-->
                                    <a href="{% url 'edit_task' task.pk %}" class="btn btn-light btn-sm my-1" role="button" aria-pressed="true">
                                        <i class="fa fa-pencil-square-o"></i>
                                        <!--Edit-->
                                    </a>
                                    <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger btn-sm my-1" role="button" aria-pressed="true">
                                        <i class="fa fa-trash"></i>
                                        <!--Delete-->
                                    </a>
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

            <!-- TODO: Fix pagination url after search - also check for &name= -->

            <div class="card-footer">
            {% if tasks.has_other_pages %}
                <nav aria-label="Tasks pagination" class="pagination justify-content-center float-left mb-0">
                    <ul class="pagination">
                {% if tasks.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ tasks.previous_page_number }}"> < </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link"> < </span>
                    </li>
                {% endif %}

                {% for page_num in tasks.paginator.page_range %}
                {% if tasks.number == page_num %}
                    <li class="page-item active">
                        <span class="page-link">
                            {{ page_num }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_num }}">
                            {{ page_num }}</a>
                    </li>
                {% endif %}
                {% endfor %}

                {% if tasks.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ tasks.next_page_number }}"> > </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link"> > </span>
                    </li>
                {% endif %}
                    </ul>
                </nav>
            {% endif %}
            </div>
    </div>
</div>
    <!--<table class="table table-hover table-sm bg-white table-responsive">-->

    </div>


    <!--<a href="{% url 'new_task' %}" class="btn btn-warning btn-sm active" role="button" aria-pressed="true">-->
        <!--Create New Task</a>-->

{% endblock %}

