{% extends 'base.html' %}

{% load humanize %}

{% block school %}
        {{school}}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Tasks</li>
{% endblock %}


{% block tasks %}

    <!--<table class="table table-hover table-sm bg-white table-responsive">-->
    <table class="table table-hover table-sm bg-white">
      <thead class="thead thead-light">
      <tr>
        <th>Task</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Reward</th>
        <th>Status</th>
          <th>Expires</th>
          <!--<th>Updated</th>-->
        <th>
            {% if user.is_parent %}
            <a href="{% url 'new_task' %}" class="btn btn-warning btn-sm text-dark" role="button" aria-pressed="true">
        Create New Task</a>
            {% endif %}
        </th>
      </tr>
      </thead>
      <tbody>

      {% for task in tasks %}

      <tr>
        <td><a href="{% url 'task_replies' task.pk %}">({{task.school.name}}) {{ task.snippet_name }}</a><br>
        <small class="text-muted d-block">{{ task.snippet_criteria }}</small>
        </td>
          <td class="align-middle">{{ task.starter.username|title }}</td>
        <td class="align-middle">{{ task.posts.count }}</td>
          <td class="align-middle">{{ task.reward.get_html_badge }}</td>
        <td class="align-middle">
            {{ task.status.get_html_badge }}<!-- TODO: update task status once claimed -->
        </td>
          <!--<td class="align-middle">{{ task.expires_on |date:"M. d, Y (D)" }}</td>-->
          <td class="align-middle">{{ task.expires_on |naturaltime }}</td>
          <!--<td class="align-middle">{{ task.last_updated|naturaltime }}</td>-->
        <td class="align-middle">
        {% if task.starter == user %}
            <button type="button" class="btn btn-outline-secondary btn-sm disabled">
            Pay
            </button>
        {% endif %}
        {% if task.starter == user.is_teacher and task.starter != user and task.claims.count == 0%}
            <!--i.e. show only when task has not been claimed-->
            <a href="{% url 'new_claim_to_task' task.pk %}" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">
            Claim
            </a>
        {% endif %}
        {% if task.starter == user and task.claims.count < 1 and user.is_parent %}
            <!--prevent task edit and delete if a claim exists-->
            <a href="{% url 'edit_task' task.pk %}" class="btn btn-outline-info btn-sm" role="button" aria-pressed="true">
            Edit
            </a>
            <a href="{% url 'delete_task' task.pk %}" class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true">
            Delete
            </a>
        {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>


{% if tasks.has_other_pages %}
<nav aria-label="Tasks pagination" class="mb-4">
    <ul class="pagination">
        {% if tasks.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ tasks.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        {% endif %}

        {% for page_num in tasks.paginator.page_range %}
        {% if tasks.number == page_num %}
        <li class="page-item active">
            <span class="page-link">
              {{ page_num }}
              <span class="sr-only">(current)</span>
            </span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if tasks.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ tasks.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

    <!--<a href="{% url 'new_task' %}" class="btn btn-warning btn-sm active" role="button" aria-pressed="true">-->
        <!--Create New Task</a>-->

{% endblock %}

