{% extends 'base.html' %}
{% load static %}

{% block title %}Upgrade Account{% endblock %}

{% block school %}
        {{school}}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb bg-transparent my-2 heading">
    <li class="breadcrumb-item"><a href="{% url 'tasks' %}">Tasks Dashboard</a></li>
    <li class="breadcrumb-item active">Upgrade Account</li>
</ol>
{% endblock %}

{% block upgradeaccount %}

<div class="row my-3">
        <div class="col col-xl-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-gradient-info border-0">
                    <span class="text-neutral my-0 heading">
                        <img class="avatar avatar-sm bg-white" src="{% static '/assets/img/brand/players/bunny2_jump.png' %}">
                        Simple, transparent pricing.

                        <!--<a href="#" class="btn btn-icon btn-md btn-neutral float-right">-->
                            <!--<span class="btn-inner&#45;&#45;icon">-->
                                <!--<i class="fa fa-arrow-circle-up"></i>-->
                            <!--</span>-->
                            <!--<span class="btn-inner&#45;&#45;text">-->
                                <!--Upgrade My School Account-->
                            <!--</span>-->
                        <!--</a>-->

                    </span>
                </div>
                <div class="container my-3">
                    <div class="table-responsive">
                        <span class="heading">{{ school }}</span>
                        <div class="my-2">
                            <!--<p>For questions or alternate payment arrangements, please send a request to-->
                                <!--<a href="mailto:{{ email_support }}" class="text-default">-->
                                    <!--<strong>{{ email_support }}</strong>-->
                                <!--</a>-->
                            <!--</p>-->
                        <p>For questions or support requests, please submit a request
                                <a href="{% url 'contact_us' %}" target="_blank"> <u>here</u> </a>
                        </p>
                        </div>
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <th scope="col"></th>
                                <th scope="col">
                                    <span class="heading">Basic (Free)</span>
                                </th>
                                <th class="text text-primary" scope="col">

                                <span class="heading">
                                    Premium ( ${{ premium_cost }} / Year / School)
                                </span>

                                </th>
                            </thead>
                            <tbody>
                                <tr scope="row">
                                    <td>
                                        Number of tasks, reward claims and replies.
                                        <i class="fa fa-question-circle-o"></i>
                                    </td>

                                    <td>
                                        <i class="fa fa-check-circle text-success"></i>
                                        Unlimited
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle text-success"></i>
                                        Unlimited
                                    </td>
                                </tr>
                                <tr scope="row">
                                    <td>
                                        $ Funds generated per school account.
                                        <i class="fa fa-question-circle-o"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle text-default"></i>
                                        Up to $10,000 / Year
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle text-success"></i>
                                        Unlimited
                                    </td>
                                </tr>
                                <tr scope="row">
                                    <td>
                                        Number of Parent Users per school account
                                        <i class="fa fa-question-circle-o"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle text-default"></i>
                                        25
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle text-success"></i>
                                        Unlimited
                                    </td>
                                </tr>
                                <tr scope="row">
                                    <td>
                                        Number of Teacher Users per school account
                                        <i class="fa fa-question-circle-o"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle text-default"></i>
                                        5
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle text-success"></i>
                                        Unlimited
                                    </td>
                                </tr>
                                <tr scope="row">
                                    <td>
                                        Number of <abbr title="School Admins are TEACHER account(s) with super user privileges. They have access to the MY SCHOOLs dashboard. They can activate, deactivate or remove PARENT and TEACHER accounts">School Admins</abbr> per school account
                                    </td>
                                    <td>
                                        <!--<i class="fa fa-check-circle text-default"></i>-->
                                        <i class="fa fa-times-circle text-danger"></i>
                                       0
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle text-success"></i>
                                        Unlimited
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <p class="text-muted heading">
                                            <strong>Free</strong>
                                        </p>
                                    </td>
                                    <td>
                                        <form action="{%url 'upgrade_confirm' %}" method="POST" novalidate>
                                            {% csrf_token %}
                                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                data-key="{{ stripe_key }}"
                                                data-amount="{{ stripe_premium_charge }}"
                                                data-name="Task-a-Thon Fundraisers"
                                                data-description="1 Year Premium Membership"
                                                data-image="{% static '/assets/img/brand/players/bunny1_jump.png' %}"
                                                data-currency="usd">
                                            </script>
                                    </form>

                                    </td>

                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
                <div class="card-footer">
                    <!--<button type="submit" class="btn btn-primary">Save</button>-->
                    <a href="{% url 'tasks' %}" class="text text-primary" role="button" aria-pressed="true">
                        <i class="fa fa-caret-left"></i>
                        Go back to dashboard
                    </a>
                </div>
            </div>
        </div>
</div>

{% endblock %}